.drawer {
    position: fixed;
    top: 0;
    z-index: 5000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-shadow: var(--shadow-16);
            box-shadow: var(--shadow-16);
    background-color: white;
    -webkit-overflow-scrolling: touch;
    transition: transform .9s .3s;
}

/* 横屏 */
@media screen and (orientation: landscape) {
    .drawer {
        right: 0;
        width: 320px;
        height: 100vh;
        transform: translateX(0);
    }
    .drawer.disabled {
        transform: translateX(340px);
    }
}
/* 竖屏 */
@media screen and (orientation: portrait) {
    .drawer {
        width: 100vw;
        height: 360px;
        transform: translateY(0)
    }
    .drawer.disabled {
        transform: translateY(-380px);
    }
}